

body {
    background-color:#FAF0E6 ;
}

h3 {
    color: red;background-color:linen;
    text-align: center;font-family: verdana; font-style:italic;
}

p {
   text-align:center;color:orange; font-family:Times New Roman;
    font-size: 20px;
}
.pink
div{
    background-color: linen;width:500px;margin:auto;border:10px solidred;
}
a:link {
    color: blue; 
    background-color: transparent; 
    text-decoration: none;
}

a:visited {
    color: green;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
}
