

body {
    background-color: #FAFBFC;
}

h3 {
    color: red;background-color:linen;
    text-align: center;font-family: verdana; font-style:italic;
}

p {
   text-align:center;color:orange; font-family:Times New Roman;
    font-size: 20px;
}
div{
    background-color: linen;width:600px;margin:auto;border:1px solidred;
}
